name: MuleSoft CI Pipeline

on:
  push:
    branches: [ main, develop, 'feature/**' ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    # 1. Check out the code
    - name: Checkout Code
      uses: actions/checkout@v3
    
    # 2. Set up Java (Mule requires Java 8 or 11)
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: 'maven'

    # 3. Configure Maven settings (Optional but good practice)
    - name: Configure Maven
      uses: s4u/maven-settings-action@v2.8.0
      with:
        servers: |
          [{
            "id": "anypoint-exchange-v3",  <-- MATCHES POM.XML
            "username": "${{ secrets.MULE_NEXUS_USERNAME }}",
            "password": "${{ secrets.MULE_NEXUS_PASSWORD }}"
          },
          {
            "id": "mulesoft-releases",     <-- MATCHES POM.XML
            "username": "${{ secrets.MULE_NEXUS_USERNAME }}",
            "password": "${{ secrets.MULE_NEXUS_PASSWORD }}"
          }]

    # 4. Build and Test (The main event)
    - name: Build with Maven
      run: mvn clean package -DskipTests
      # Note: We skip tests for the portfolio because we don't have a live DB connection in GitHub's cloud server.
      # In a real project, we would spin up a Docker container for the DB here.